@page
@using Microsoft.Data.SqlClient.DataClassification
@using Newtonsoft.Json.Linq
@model ChrisJohnInfo.Blog.AdminUI.Pages.Posts.CreateModel
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.Label("DatePublished", "Date Published")
                @Html.TextBox("DatePublished", "", new { @class = "form-control datepicker" })
            </div>
            <div class="form-group">
                @Html.Label("AuthorId", "Author")
                @Html.DropDownList("AuthorId", Model.Authors, new {@class="form-control"})
            </div>
            <div class="form-group">
                @Html.Label("Title")
                @Html.TextBox("Title", "", new {@class="form-control focus-me"})
            </div>
            <div class="form-group">
                @Html.Label("Content")
                @Html.TextArea("Content", "", new {@class="form-control"})
            </div>
            <div class="form-group">
                <a asp-page="/Posts/Index" class="btn btn-light">Cancel</a>
                <button class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
}

