@page
@model ChrisJohnInfo.Blog.AdminUI.Pages.Posts.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Post</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Post.PostId)
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.Label("DatePublished", "Date Published")
                @Html.TextBoxFor(m => m.Post.DatePublished, $"{Model.Post.DatePublished:d}", new {@class="form-control datepicker"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Post.AuthorId)
                @Html.DropDownListFor(m => m.Post.AuthorId, Model.Authors, "-- Select Author --", new {@class = "form-control focus-me"})
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Post.Title)
                @Html.TextBoxFor(p => p.Post.Title, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Post.Content)
                @Html.TextAreaFor(m => m.Post.Content, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <a asp-page="/Posts/Index" class="btn btn-light">Cancel</a>
                <button class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
}

