@page
@model ChrisJohnInfo.Blog.AdminUI.Pages.Authors.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Author</h1>
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Author.AuthorId)
            <div class="form-group">
                @Html.LabelFor(m => m.Author.FirstName, "First Name")
                @Html.TextBoxFor(m => m.Author.FirstName, new { @class = "form-control focus-me"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Author.LastName, "Last Name")
                @Html.TextBoxFor(m => m.Author.LastName, new { @class = "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Author.NickName, "Nick Name")
                @Html.TextBoxFor(m => m.Author.NickName, new { @class = "form-control"})
            </div>

            <div class="form-group">
                <a class="btn btn-light" asp-page="/Authors/Index">Cancel</a>
                <button class="btn btn-primary">Update</button>
            </div>
        }
    </div>
</div>


